app/code/local/CloudConversion/CloudGento/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <complexType name="catalogProductCreateEntity">
                <all>
                    <element name="associated_skus" type="typens:ArrayOfString" minOccurs="0"/>
                    <element name="price_changes" type="typens:associativeArray" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="catalogProductEntity">
                <all>
                    <element name="price" type="xsd:double"/>
                    <element name="available_quantity" type="xsd:int"/>
                </all>
            </complexType>

            <complexType name="catalogProductReturnEntity">
                <all>
                    <element name="parent_sku" type="xsd:string" minOccurs="0"/>
                    <element name="url_complete" type="xsd:string" minOccurs="0"/>
                    <element name="configurable_products_data" type="typens:childrenEntityArray" minOccurs="0"/>
                    <element name="configurable_attributes_data" type="typens:configurableOptionsEntityArray" minOccurs="0"/>
                    <element name="stock_data" type="typens:catalogInventoryStockItemEntityArray" minOccurs="0"/>
                    <element name="images" type="typens:catalogProductImageEntityArray" minOccurs="0"/>
                </all>
            </complexType>
            <complexType name="childrenEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:childrenEntity[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="childrenEntity">
                <all>
                    <element name="sku" type="xsd:string" minOccurs="0"/>
                    <element name="options" type="typens:optionsEntityArray" minOccurs="0"/>
                </all>
            </complexType>
            <complexType name="configurableOptionsEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:configurableOptionsEntity[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="configurableOptionsEntity">
                <all>
                    <element name="code" type="xsd:string" minOccurs="0"/>
                    <element name="options" type="typens:optionsEntityArray" minOccurs="0"/>
                </all>
            </complexType>
            <complexType name="optionsEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:optionsEntity[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="optionsEntity">
                <all>
                    <element name="product_super_attribute_id" type="xsd:string" minOccurs="0"/>
                    <element name="value_index" type="xsd:string" minOccurs="0"/>
                    <element name="label" type="xsd:string" minOccurs="0"/>
                    <element name="default_label" type="xsd:string" minOccurs="0"/>
                    <element name="store_label" type="xsd:string" minOccurs="0"/>
                    <element name="is_percent" type="xsd:int" minOccurs="0"/>
                    <element name="pricing_value" type="xsd:double" minOccurs="0"/>
                    <element name="use_default_value" type="xsd:boolean" minOccurs="0"/>
                    <element name="attribute_code" type="xsd:string" minOccurs="0"/>
                </all>
            </complexType>
            <complexType name="salesOrderExportArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:salesOrderExportEntity[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="salesOrderExportEntity">
                <all>
                    <element name="order_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="state" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="status" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="coupon_code" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="protect_code" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="shipping_description" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="is_virtual" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="store_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="customer_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_discount_amount" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_discount_canceled" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_discount_invoiced" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_discount_refunded" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_grand_total" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_shipping_amount" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_shipping_canceled" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_shipping_invoiced" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_shipping_refunded" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_shipping_tax_amount" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_shipping_tax_refunded" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_subtotal" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_subtotal_canceled" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_subtotal_invoiced" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_subtotal_refunded" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_tax_amount" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_tax_canceled" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_tax_invoiced" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_tax_refunded" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_to_global_rate" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_to_order_rate" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_total_canceled" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_total_invoiced" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_total_invoiced_cost" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_total_offline_refunded" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_total_online_refunded" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_total_paid" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_total_qty_ordered" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_total_refunded" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="discount_amount" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="discount_canceled" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="discount_invoiced" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="discount_refunded" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="grand_total" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="shipping_amount" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="shipping_canceled" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="shipping_invoiced" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="shipping_refunded" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="shipping_tax_amount" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="shipping_tax_refunded" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="store_to_base_rate" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="store_to_order_rate" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="subtotal" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="subtotal_canceled" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="subtotal_invoiced" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="subtotal_refunded" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="tax_amount" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="tax_canceled" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="tax_invoiced" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="tax_refunded" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="total_canceled" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="total_invoiced" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="total_offline_refunded" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="total_online_refunded" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="total_paid" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="total_qty_ordered" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="total_refunded" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="can_ship_partially" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="can_ship_partially_item" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="customer_is_guest" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="customer_note_notify" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="billing_address_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="customer_group_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="customer_group_code" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="edit_increment" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="email_sent" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="forced_shipment_with_invoice" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="payment_auth_expiration" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="quote_address_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="quote_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="shipping_address_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="adjustment_negative" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="adjustment_positive" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_adjustment_negative" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_adjustment_positive" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_shipping_discount_amount" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_subtotal_incl_tax" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_total_due" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="payment_authorization_amount" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="shipping_discount_amount" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="subtotal_incl_tax" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="total_due" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="weight" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="customer_dob" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="increment_id" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <element name="applied_rule_ids" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_currency_code" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="customer_email" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="customer_firstname" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="customer_lastname" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="customer_middlename" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="customer_prefix" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="customer_suffix" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="customer_taxvat" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="discount_description" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="ext_customer_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="ext_order_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="global_currency_code" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="hold_before_state" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="hold_before_status" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="order_currency_code" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="original_increment_id" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <element name="relation_child_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="relation_child_real_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="relation_parent_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="relation_parent_real_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="remote_ip" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="shipping_method" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="store_currency_code" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="store_name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="x_forwarded_for" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="customer_note" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="created_at" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="updated_at" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="total_item_count" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="customer_gender_value" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="hidden_tax_amount" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_hidden_tax_amount" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="shipping_hidden_tax_amount" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_shipping_hidden_tax_amnt" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="hidden_tax_invoiced" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_hidden_tax_invoiced" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="hidden_tax_refunded" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_hidden_tax_refunded" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="shipping_incl_tax" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_shipping_incl_tax" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="paypal_ipn_customer_notified" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="gift_message_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="gift_sender" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="gift_recipient" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="gift_message" type="xsd:string" minOccurs="1" maxOccurs="1"/>

                    <element name="address" type="typens:salesOrderExportAddressArray" minOccurs="1" maxOccurs="1"/>
                    <element name="items" type="typens:salesOrderExportItemsArray" minOccurs="1" maxOccurs="1"/>
                    <element name="payment" type="typens:salesOrderExportPaymentsArray" minOccurs="1" maxOccurs="1"/>
                    <element name="history" type="typens:salesOrderExportHistoryArray" minOccurs="1" maxOccurs="1"/>
                </all>
            </complexType>
            <complexType name="salesOrderExportAddressArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:salesOrderExportAddressEntity[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="salesOrderExportAddressEntity">
                <all>
                    <element name="customer_address_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="quote_address_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="region_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="customer_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="fax" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="region" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="postcode" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="lastname" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="street" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="city" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="email" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="telephone" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="country_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="firstname" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="address_type" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="prefix" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="middlename" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="suffix" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="company" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                </all>
            </complexType>
            <complexType name="salesOrderExportItemsArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:salesOrderExportItemEntity[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="salesOrderExportItemEntity">
                <all>
                    <element name="item_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="parent_item_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="quote_item_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="store_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="created_at" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="updated_at" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="product_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="product_type" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="product_options" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="weight" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="is_virtual" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="sku" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="description" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="applied_rule_ids" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="additional_data" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="free_shipping" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="is_qty_decimal" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="no_discount" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="qty_backordered" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="qty_canceled" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="qty_invoiced" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="qty_ordered" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="qty_refunded" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="qty_shipped" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_cost" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="price" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_price" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="original_price" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_original_price" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="tax_percent" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="tax_amount" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_tax_amount" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="tax_invoiced" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_tax_invoiced" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="discount_percent" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="discount_amount" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_discount_amount" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="discount_invoiced" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_discount_invoiced" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="amount_refunded" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_amount_refunded" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="row_total" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_row_total" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="row_invoiced" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_row_invoiced" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="row_weight" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_tax_before_discount" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="tax_before_discount" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="ext_order_item_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="locked_do_invoice" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="locked_do_ship" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="price_incl_tax" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_price_incl_tax" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="row_total_incl_tax" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_row_total_incl_tax" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="hidden_tax_amount" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_hidden_tax_amount" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="hidden_tax_invoiced" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_hidden_tax_invoiced" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="hidden_tax_refunded" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_hidden_tax_refunded" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="is_nominal" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="tax_canceled" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="hidden_tax_canceled" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="tax_refunded" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="gift_message_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="gift_message_available" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="gift_sender" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="gift_recipient" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="gift_message" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_weee_tax_applied_amount" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_weee_tax_applied_row_amnt" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="weee_tax_applied_amount" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="weee_tax_applied_row_amount" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="weee_tax_applied" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="weee_tax_disposition" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="weee_tax_row_disposition" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_weee_tax_disposition" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_weee_tax_row_disposition" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                </all>
            </complexType>
            <complexType name="salesOrderExportPaymentsArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:salesOrderExportPaymentEntity[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="salesOrderExportPaymentEntity">
                <all>
                    <element name="base_shipping_captured" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="shipping_captured" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="amount_refunded" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_amount_paid" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="amount_canceled" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_amount_authorized" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_amount_paid_online" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_amount_refunded_online" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_shipping_amount" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="shipping_amount" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="amount_paid" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="amount_authorized" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_amount_ordered" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_shipping_refunded" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="shipping_refunded" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_amount_refunded" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="amount_ordered" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="base_amount_canceled" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="quote_payment_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="additional_data" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="cc_exp_month" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="cc_ss_start_year" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="echeck_bank_name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="method" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="cc_debug_request_body" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="cc_secure_verify" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="protection_eligibility" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="cc_approval" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="cc_last4" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="cc_status_description" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="echeck_type" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="cc_debug_response_serialized" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="cc_ss_start_month" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="echeck_account_type" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="last_trans_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="cc_cid_status" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="cc_owner" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="cc_type" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="po_number" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="cc_exp_year" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="cc_status" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="echeck_routing_number" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="account_status" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="anet_trans_method" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="cc_debug_response_body" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="cc_ss_issue" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="echeck_account_name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="cc_avs_status" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="cc_number_enc" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="cc_trans_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="paybox_request_number" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <element name="address_status" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="additional_information" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="cybersource_token" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <element name="flo2cash_account_id" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <element name="ideal_issuer_id" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <element name="ideal_issuer_title" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <element name="ideal_transaction_checked" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <element name="paybox_question_number" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                </all>
            </complexType>
            <complexType name="salesOrderExportHistoryArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:salesOrderExportHistoryEntity[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="salesOrderExportHistoryEntity">
                <all>
                    <element name="is_customer_notified" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="is_visible_on_front" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="comment" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="status" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="created_at" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="entity_name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                </all>
            </complexType>
            <complexType name="salesOrderImportResult">
                <all>
                    <element name="status" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <element name="result" type="typens:salesOrderImportResultResultArray" minOccurs="0"
                             maxOccurs="1" />
                </all>
            </complexType>
            <complexType name="salesOrderImportResultResultArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType"
                                   wsdl:arrayType="typens:salesOrderImportResultResultEntity[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="salesOrderImportResultResultEntity">
                <all>
                    <element name="original_increment_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="imported_increment_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="error" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <element name="warnings" type="typens:ArrayOfString" minOccurs="0" maxOccurs="1"/>
                </all>
            </complexType>
            <complexType name="salesOrderShipmentEntity">
                <all>
                    <element name="shipping_description" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
        </schema>
    </types>
    <message name="salesOrderImportRequest">
        <part name="sessionId" type="xsd:string"/>
        <part name="orders" type="typens:salesOrderExportArray"/>
        <part name="decrement_inventory" type="xsd:boolean" />
    </message>
    <message name="salesOrderImportResponse">
        <part name="result" type="typens:salesOrderImportResult"/>
    </message>
    <portType name="{{var wsdl.handler}}PortType">
        <operation name="salesOrderImport">
            <documentation>Import orders</documentation>
            <input message="typens:salesOrderImportRequest"/>
            <output message="typens:salesOrderImportResponse"/>
        </operation>
    </portType>
    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <operation name="salesOrderImport">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action"/>
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>
</definitions>
